[run]
source = rospy
branch = True
parallel = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
show_missing = True

[html]
directory = coverage_html
